APP_ICO ICON "icons/main.ico"

FILE_OPEN   RCDATA "icons/fileopen.png"
FILE_SAVE   RCDATA "icons/filesave.png"
INFO_PNG    RCDATA "icons/Info.png"

PLAY_PNG   RCDATA "icons/media-playback-start.png"
STOP_PNG   RCDATA "icons/media-playback-stop.png"
MD_PNG   RCDATA "icons/md.png"

#include "wx/msw/wx.rc"
